<h1>Select Golf Course</h1>

<%= form_tag courses_path, :method => 'get' do %>
	<%=text_field_tag :search , params[:search],placeholder:"Please put in"%>
	<%=submit_tag "Search"%>
<% end %>
<br><br>

<div class="panel-group" id="sampleAccordion">
	<div class="panel panel-default">
	 
	 <%=render 'courses',{courses: @courses, scores: @scores} %>
	 
	</div>
</div>	
